[submodule "services/api-server"]
	path = services/api-server
	url = git@github.com:kube-HPC/api-server.git
[submodule "services/pipeline-driver"]
	path = services/pipeline-driver
	url = git@github.com:kube-HPC/pipeline-driver.git
[submodule "services/algorithm-queue"]
	path = services/algorithm-queue
	url = git@github.com:kube-HPC/algorithm-queue.git
[submodule "services/trigger-service"]
	path = services/trigger-service
	url = git@github.com:kube-HPC/trigger-service.git
[submodule "services/algorithm-operator"]
	path = services/algorithm-operator
	url = git@github.com:kube-HPC/algorithm-operator.git
[submodule "services/task-executor"]
	path = services/task-executor
	url = git@github.com:kube-HPC/task-executor.git
[submodule "services/worker"]
	path = services/worker
	url = git@github.com:kube-HPC/worker.git
